{% extends "admin/dashboard.html" %}
{% block content %}

<div class="card col-lg-7 mx-auto p-4 shadow">
<h4>{{ exam.name }}</h4>
<p>Set question count per subject</p>

<form method="post">
{% csrf_token %}

<table class="table">
<tr><th>Subject</th><th>Questions</th></tr>
{% for s in subjects %}
<tr>
<td>{{ s.name }}</td>
<td>
<input type="number"
       name="subject_{{ s.id }}"
       min="0"
       value="0"
       class="form-control">
</td>
</tr>
{% endfor %}
</table>

<button class="btn btn-primary w-100">Select Questions</button>
</form>
</div>

{% endblock %}
